
<div style="padding:30px; text-align:center;">
    <a target="_blank" style="font-size:16px;color:#939393;" href="http://www.beian.miit.gov.cn/">陇ICP备20000034号</a>
    <br>  
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=62070202000481" style="display:inline-block;text-decoration:none;line-height:20px;"><img src="/images/balogo.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin-left:5px;color:#939393;">甘公网安备 62070202000481号</p></a>
</div>
